@import "./boxes";

@mixin large-text {
  color: var(--light-color);
  font-family: Roboto Slab, serif;
  font-weight: 400;
  font-size: var(--space10);
  margin: 0;
}

@mixin small-text {
  font-family: "Roboto", "Helvetica";
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0.025em;
  color: var(--light-color);
  text-transform: uppercase;
  font-size: var(--space4);
  margin: 0 0 var(--space-unit) 0;
  z-index: 1;
}
body {
  font-family: "Roboto", "Helvetica";
  .hero {
    background: var(--bg-hero);
    @media (max-width: 1024px) {
      flex-direction: column;
      img {
        margin-top: var(--space4);
      }
    }
    h1 {
      @include large-text;
    }
    h4 {
      @include small-text;
    }
    img {
      width: 100%;
    }
  }
}

.header,
.sidebar,
.content,
.footer {
  padding: 20px;
}
.header {
  grid-area: header;
}
.lp-content {
  flex-basis: 100%;
}
.sidebar {
  grid-area: sidebar;
  flex-basis: 25%;
  max-width: 300px;
  @media (max-width: 767px) {
    flex-basis: 100%;
    max-width: 100%;
  }
}
.content {
  grid-area: content;
  flex-basis: 75%;
  @media (max-width: 767px) {
    flex-basis: 100%;
  }
}
.inner-menu {
  flex-basis: 25%;
  @media (max-width: 767px) {
    flex-basis: 100%;
  }
}
.footer {
  grid-area: footer;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}
.grow {
  flex-grow: 1;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
