:root {
  // size
  --space-unit: 4px;
  --space3: calc(3 * var(--space-unit)); // 14px
  --space4: calc(4 * var(--space-unit)); // 16px
  --space6: calc(6 * var(--space-unit)); // 24px
  --space8: calc(8 * var(--space-unit)); // 32px
  --space10: calc(10 * var(--space-unit)); // 40px
  --space12: calc(12 * var(--space-unit)); // 48px
  --space16: calc(16 * var(--space-unit)); // 64px
  --space175: calc(17.5 * var(--space-unit)); // 70px
  --space25: calc(25 * var(--space-unit)); // 100px
  // colors
  --primary-color: #090c43;
  --light-color: --textNormal;
  --light-blue: #005ef4;
  --dark-blue: #1d1f52;

  --navy: #090c43;
  --electric-blue: #005ef4;
  --periwinkle: #a5b9f3;
  --orange: #FE5E00;
  --gray: #c5c7ce;
  --light-white: #dbdce1;
}

body.dark {
  transition: all 250ms ease-in;

  --bg: var(--primary-color);
  --bg-hero: var(--dark-blue);
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: var(--orange);
  --hr: hsla(0, 0%, 100%, 0.2);

  background-color: var(--bg);
  color: var(--textNormal);
}
body.light {
  transition: all 250ms ease-in;

  --bg: white;
  --bg-hero: #f7f7f7;
  --textNormal: #000;
  --textTitle: #090c43;
  --textLink: var(--light-blue);
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
  color: var(--textNormal);
}

.divider {
  background: linear-gradient(to left bottom, var(--bg-hero) 50%, transparent 50.6%);
  padding: var(--space8);
}

.section-space {
  padding: var(--space25) var(--space16);
}

.navy {
  background-color: var(--navy);
}

.text-white {
  color: var(--light-color);
}

.gap {
  gap: 14px;
}
